<div class="container">

  <label for="dimgriglia">Inserisci la dimensione della griglia [N x N]</label>
  <div class="input-group mb-3">
    <input type="number" min="2" id="dimgriglia" class="form-control" [(ngModel)]="dimensioneGriglia" placeholder="Dimensione Griglia">
  </div> 

  <button class="btn btn-primary mb-5" (click)="initGame()">Start Game</button>
  
  <div *ngIf="messaggio2" class="alert alert-primary" role="alert">
        {{messaggio2}}
  </div>
  
  <div *ngIf="messaggio" class="alert alert-primary" role="alert">
    {{messaggio}}
  </div>



  <table class="table table-bordered mb-5 tabella">

    <tr *ngFor="let riga of griglia;index as i">
      <td *ngFor="let c of griglia[i]; index as j" (click)="makeMove(i,j)" class="cella">
        <span *ngIf="c.valore=='O'"><i class="far fa-circle icona"></i></span>
        <span *ngIf="c.valore=='X'"><i class="fas fa-times icona"></i></span>
      </td>
    </tr>
    
  </table>

</div>